doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Ian Sinnott - Design, Development, Mobile')
    meta(name='author', content= 'Ian Sinnott')
    title= path
    link(rel='stylesheet', href='css/app.css')
  body
    block content

  script(src='/js/app.js')
